<h2>Login User</h2>

{{#each errors}}
  <p style="color:red;">{{this}}></p>
{{/each}}
<div class="main-cont">
  
  <form method="post" action="/user/log-in">
   
      <label for="email">Email</label>
      <input type="text" id="email" name="email" value="{{values.email}}"/><br/>

      {{#if validationMessages.email}}
        <span>{{validationMessages.email}}</span><br/>
      {{/if}}

      <label for="password">Password</label>
      <input type="password" id="password" name="password" value="{{values.password}}"/><br/>

      {{#if validationMessages.password}}
        <span>{{validationMessages.password}}</span><br/>
      {{/if}}
        
      <label for="isClerk">Are you a data entry  clerk?<br/>
            <input id="yes" type="radio" name="clerk" value="yes" /><label for="yes">Yes</label><br/>
            <input id="no" type="radio" name="clerk" value="no" /><label for="no">No</label></label><br>
      </label>

      
      <input type="submit" value="Log In"/>


  </form>
</div>